<?xml version="1.0"?>
<launch>
    
    <arg name="fontPath" value="$(find whycon_ros)/etc/font.ttf"/>

    <node pkg="whycon_ros" type="whycon_ros" name="whycon_ros" output="screen" args="$(arg fontPath)">
        
        <remap from="/cv_camera/image_raw" to="/cv_camera/image_raw" />
<!--        <remap from="/camera/camera_info" to="/cv_camera/camera_info" /> -->
	
	<param name="useGui" value="true"/>
	<param name="saveLog" value="false"/>
	<param name="saveVideo" value="false"/>
        
    </node>

</launch>
