<?xml version="1.0"?>
<launch>

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="reconfigurator"/>
    
    <arg name="camInfo" default="/camera_info" doc="camera_info topic"/>
    <arg name="camRaw" default="/image_raw" doc="image_raw topic"/>

    <arg name="fontPath" value="$(find whycon_ros)/etc/font.ttf"/>
    <arg name="calibDefPath" value="$(find whycon_ros)/etc/default.cal"/>
    
    <node pkg="whycon_ros" type="whycon_ros" name="whycon_ros" output="screen" args="$(arg fontPath) $(arg calibDefPath)">
        
	<remap from="/camera/camera_info" to="$(arg camInfo)"/>
        <remap from="/camera/image_raw" to="$(arg camRaw)"/>
	
	<param name="useGui" value="true"/>
	
	<param name="idBits" value="5"/>
	<param name="idSamples" value="360"/>
	<param name="hammingDist" value="1"/>
        
    </node>

</launch>
